<!DOCTYPE html>
<html>
<head>
<title>About</title>
<style>
body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(to right,#243B55,#141E30);
    color: white;
}

.container {
    width: 65%;
    margin: 70px auto;
    background: rgba(255,255,255,0.1);
    padding: 35px;
    border-radius: 15px;
}

.back {
    color: #00C6FF;
    text-decoration: none;
}
</style>
</head>

<body>
<div class="container">

<a href="/dashboard" class="back">⬅ Back to Dashboard</a>

<h1>About Project</h1>

<p>
This Fake Profile Detection System uses Machine Learning to identify
fake social media accounts based on profile attributes.
</p>

<p>
The system improves online security and prevents identity fraud.
</p>

<p>
Developed as a Final Year Academic Project using Flask and Random Forest.
</p>

</div>
</body>
</html>
